.about-cont {
  min-height: calc(100vh - 120.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

.about-cont .about {
  width: 80%;
  padding: 5rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-cont .about h1 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 500;

  text-align: center;
}

.about-cont .about .details {
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

.about-cont .about .details button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1.25rem;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.432);
}

.about-cont .about .details .analyse button {
  border-radius: 5px 5px 0 0;
}

.about-cont .about .details button p {
  font-size: 1.15rem;
  font-weight: 600;
}
.about-cont .about .details button .down {
  font-size: 2rem;
  font-weight: 200;
  transition: all 0.2s linear;
  color: rgb(17, 187, 239);
}

.about-cont .about .details .paragraph {
  transition: height 0.2s linear !important;
  overflow: hidden;
}

.about-cont .about .details .paragraph p {
  padding: 1rem 1.25rem;
  font-weight: 700;
}

.light-about {
  background: linear-gradient(
    45deg,
    rgb(241, 241, 241) 50%,
    rgb(158, 232, 255) 50%
  );
  color: black;
}

.light-about .about .details button {
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.263);
}

.light-about .about .details .paragraph {
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.263);
}

.dark-about {
  background: linear-gradient(45deg, rgb(92, 92, 92) 50%, rgb(27, 27, 27) 50%);
  color: white;
}

.dark-about .about .details button {
  background-color: black;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.432);
}

.dark-about .about .details .paragraph {
  background-color: black;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.432);
}
